{% extends 'default/base.html' %}

{% block head_title %}
学生列表
{% endblock head_title%}

{% block title %}
<h1>学生列表</h1>
{% endblock title%}

{%block main%}
        <a href="/myapp/grade"><i class="fas fa-arrow-circle-left">Goback</i></a><br />
        <p>{{info}}</p>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>身高（cm）</th>
                    <th>体重（kg）</th>
                    <th>自我简介</th>
                </tr>
            </thead>

            {%for stu in students%}
            <tr>
                <td>{{stu.name}}</td>
                <td>{{stu.gender}}</td>
                <td>{{stu.age}}</td>
                <td>{{stu.height}}</td>
                <td>{{stu.weight}}</td>
                <td>{{stu.intro}}</td>
            </tr>
            {%endfor%}
        </table>
        <div class="container-fluid">
            <ul class="pagination">
            <a role="button" class="btn btn-info" href="/myapp/student/page{{prev}}">上一页</a>
            {%for index in page%}
                {% ifequal index num %}
                <li class="page-item disabled"><a class="page-link" href="#">{{index}}</a></li>
                {%else%}
                <li class="page-item"><a class="page-link" href="/myapp/student/page{{index}}">{{index}}</a></li>
                {%endifequal%}
            {% endfor%}
            
            <a role="button" class="btn btn-info" href="/myapp/student/page{{back}}">下一页</a>
        </ul>
        <span>当前第{{num}}页</span>
        </div>
{% endblock main%}